<%- partial('nav') %>

<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h1 id="title1"><%= page.title || config.title %></h1>
                    <!--<hr class="small">-->
                    <span id="title2" class="subheading"><%= page.description || config.subtitle || "" %></span>
                </div>
            </div>
        </div>
    </div>
</header>

<script>
    var pattern = Trianglify({width: document.body.clientWidth * 1.2, height: document.body.clientWidth * 0.9, cell_size: Math.round(Math.random()*40) + 40, x_colors: 'random'});
    document.getElementsByTagName("header")[0].style["background-image"] = 'url(' + pattern.png() + ')';
    var colorThief = new ColorThief();
    var rgb = colorThief.getColor(pattern.canvas());
    var hex = "#" + (((1 << 24) + (rgb[0] << 16) + (rgb[1] << 8) + rgb[2]).toString(16).slice(1));
    var metaThemeColor = document.querySelector("meta[name=theme-color]");
    metaThemeColor.setAttribute("content", hex);
</script>
