<head>
    <%- partial('meta') %>

    <!-- Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.jsdelivr.net/gh/gyj1109/Blog-Resources@latest/icons/main/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.jsdelivr.net/gh/gyj1109/Blog-Resources@latest/icons/main/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="194x194" href="https://cdn.jsdelivr.net/gh/gyj1109/Blog-Resources@latest/icons/main/favicon-194x194.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://cdn.jsdelivr.net/gh/gyj1109/Blog-Resources@latest/icons/main/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.jsdelivr.net/gh/gyj1109/Blog-Resources@latest/icons/main/favicon-16x16.png">
    <link rel="manifest" href="https://cdn.jsdelivr.net/gh/gyj1109/Blog-Resources@latest/icons/main/manifest.json">
    <link rel="mask-icon" href="https://cdn.jsdelivr.net/gh/gyj1109/Blog-Resources@latest/icons/main/safari-pinned-tab.svg" color="#009688">
    <meta name="apple-mobile-web-app-title" content="Gyj1109's Blog">
    <meta name="application-name" content="Gyj1109's Blog">
    <meta name="msapplication-TileColor" content="#009688">
    <meta name="msapplication-TileImage" content="https://cdn.jsdelivr.net/gh/gyj1109/Blog-Resources@latest/icons/main/mstile-144x144.png">
    <meta name="msapplication-config" content="https://cdn.jsdelivr.net/gh/gyj1109/Blog-Resources@latest/icons/main/browserconfig.xml">
    <meta name="theme-color" content="#009688">
    <!-- Icon -->

    <title>
        <% if (page.title) { %>
        <%= page.title + ' - ' + config.SEOTitle %>
        <% } else{%>
        <%= config.SEOTitle %>
        <% } %>
    </title>

    <link rel="canonical" href="<%= config.url + config.root + (page.path||'').replace('index.html', '') %>">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/gyj1109/Blog-Resources@latest/css/hux-blog.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://cdn.jsdelivr.net/npm/@fontsource/roboto-mono@4.3.0/index.min.css" rel="stylesheet" media="none" onload="this.media='all'">
    <link href="https://cdn.jsdelivr.net/npm/@fontsource/lora@4.3.0/index.min.css" rel="stylesheet" media="none" onload="this.media='all'">
    <link href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" rel="stylesheet" media="none" onload="this.media='all'">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/PrismJS/prism-themes/themes/prism-material-light.min.css" type="text/css" media="none" onload="this.media='all'"></link>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/plugins/line-numbers/prism-line-numbers.min.css" type="text/css" media="none" onload="this.media='all'"></link>
    <link href="https://cdn.jsdelivr.net/npm/nprogress@0.2.0/nprogress.min.css" rel="stylesheet" media="none" onload="this.media='all'">

    <!--[if lte IE 10]><script>window.location.href='https://gyj1109.top/ie/';</script><![endif]-->

</head>
